@model ErrorViewModel
@{
    ViewData["Title"] = "Erreur";
}

<h1 class="text-danger">Erreur.</h1>
<h2 class="text-danger">Une erreur s'est produite lors du traitement de votre demande.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Conseils de développement</h3>
<p>
    Passer à <strong>Development</strong> dans appsettings.json et relancer l'application pour afficher des messages d'erreur détaillés.
</p>
