@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewData["Message"]</p>

<address>
    <strong>Support :</strong> <a href="mailto:support@example.com">support@example.com</a><br />
    <strong>Marketing :</strong> <a href="mailto:marketing@example.com">marketing@example.com</a>
</address>

<address>
    <strong>Adresse :</strong><br />
    123 rue Example<br />
    Ville, Province 12345<br />
    <abbr title="Téléphone">Tél :</abbr>
    123-456-7890
</address>
