@model IEnumerable<ASPCoreFirstApp.Models.Movie>



<h1>Liste des Films</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom du Film</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Id</td>
            <td>@movie.name</td>
            <td>
                <a asp-action="Edit" asp-route-id="@movie.Id">edit</a>
            <a asp-action="Delete" asp-route-id="@movie.Id" onclick="return confirm('Are you sure?');">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>



